* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  button {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      font-size: 1.5rem;
      border: .1rem solid black;
      margin: 2rem;
  }
  
  button.selected {
      border: .3rem solid black;
      font-weight: bold;
  }